= form_for(@customer) do |f|
  = f.error_messages
  
  .field
    = f.label :ax_customer_number
    %span.required *
    %br
    = f.text_field :ax_customer_number, :maxlength => 12, :size => 15
  .field
    = f.label :company_name
    %br
    = f.text_field :company_name
  .field
    = f.label :full_name
    %br
    = f.text_field :full_name
  .field
    = f.label :customer_class
    %span.required *
    %br
    = f.text_field :customer_class
  .field
    = f.label :address
    %br
    = f.text_field :address
  .field
    = f.label :city
    %br
    = f.text_field :city
  .field
    = f.label :state
    %br
    = f.text_field :state
  .field
    = f.label :zip
    %br
    = f.text_field :zip
  .field
    = f.label :country
    %br
    = f.text_field :country
  .field
    = f.label :phone
    %br
    = f.text_field :phone
  .field
    = f.label :email
    %br
    = f.text_field :email

  .actions
    = f.submit
