= form_for :import, :url=>{ :action=>'import'}, :html => { :multipart => true } do |f|
  %table
    %tr
      %td
        %label{ :for => "dump_file" }
          Select a CSV File :
      %td
        = f.file_field :file
        = link_to "click here to see a sample CSV file", "/sample_pos_customers_upload_csvfile.csv"
    %tr
      %td{ :colspan => "2" }
        = submit_tag 'Submit'
#error
  = flash[:message]
