.page-header
  %h1 Listing customers
  = link_to 'all', customers_path unless params[:q].blank?
  = form_tag(customers_path, :method => :get) do
    .form-group= text_field_tag :q, nil, placeholder: "ax, company, zip", class: 'form-control'
    = submit_tag "search", :class => 'btn btn-primary'
%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Customer No.
      %th Company Name
      %th City
      %th State
      %th Zip
      %th Country
      %th Phone
      %th Email
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - for customer in @customers
      %tr{ :class => cycle(:odd, :even) }
        %td= customer.ax_customer_number
        %td= customer.company_name
        %td= customer.city
        %td= customer.state
        %td= customer.zip
        %td= customer.country
        %td= customer.phone
        %td= customer.email
        %td
          = link_to 'Show', customer, :class => 'btn btn-default btn-xs'
          = link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-default btn-xs'
          = link_to 'Destroy', customer, data: {confirm: "Are you sure!"}, :method => :delete, :class => 'btn btn-danger btn-xs'
= paginate @customers
%br
= link_to 'New customer', new_customer_path, :class => 'btn btn-primary'
%br
= link_to 'Upload customer csv file', :action => :import
