.row
  .col-md-12
    .panel.panel-info
      .panel-heading
        Order
      .panel-body
        .col-sm-12.col-md-6
          = link_to "click here to see a sample CSV file", "/sample_export_lineitems.csv"
          = form_tag({:action=>'create'}, :multipart => true, class: 'form-inline') do
            .form-group
              %label{ :for => "dump_file" }
                Select a CSV File :
              %br
              = file_field_tag 'order[file]', class: 'form-control'
              = submit_tag 'Submit', :class => 'btn btn-primary'

        .col-sm-12.col-md-3.pull-right
          #order_totals.pull-right
            %table.table
              %tr
                %td
                  Item Quantity Total:
                  %br
                  Subtotal
                %td
                  %span#qtytotal
                    0 items
                  %br
                  %span#subtotal
                    $0
              - if (params[:controller] == 'orders' && params[:action] == 'edit')
                %tr
                  %td.timestamps{:colspan => "2"}
                    Created on:
                    = l @order.created_at, :format => :default
                    %br
                    Modified on:
                    = l @order.updated_at, :format => :default
            %ul#by_ship_date.list-group
              - @order.by_ship_date.each do |k,v|
                %li.list-group-item
                  = k
                  %span.pull-right.ship_date_item= number_to_currency v
            %ul#by_designer.list-group
              - @order.products.select("designer, sum(order_items.item_total)").group(:designer).each do |e|
                %li.list-group-item
                  = e.designer_name
                  %span.pull-right.designer_item= number_to_currency e.sum
          - if flash[:message].present?
            %span#error.label.label-warning
              = flash[:message]
        .col-sm-6.col-md-12
          #coupon
            - if session[:coupon].present?
              Applied Coupon:
              = session[:coupon]
            - else
              = form_tag({:action => 'add_coupon', :id => @order}, :remote => true, class: 'form-inline', :id => 'add_coupon_form', :onsubmit => "$('#warning').addClass('hide');") do
                .form-group
                  = label_tag :coupon, 'Enter Coupon Code:'
                  %br
                  = text_field_tag :coupon, nil, class: 'form-control', id: :coupon_input, :tabindex => 1, :onFocus => "this.select();", :maxlength => 15
                  = submit_tag :add, :class => 'btn btn-primary'
        .col-sm-6.col-md-12
          = form_tag({:action => 'add_item', :id => @order}, :remote => true, class: 'form-inline', :id => 'add_item_form', :onsubmit => "$('#warning').addClass('hide');") do
            .form-group
              = label_tag :item, 'Item Number or UPC Scan'
              %span.required *
              %br
              = text_field_tag :upc, nil, :tabindex => 1, :onFocus => "this.select();", :maxlength => 12, :class => 'form-control required'
              = submit_tag :add, :class => 'btn btn-primary'
            %span#warning.hide.label.label-warning
              PRODUCT NOT FOUND!

          :javascript
            $('#upc').focus();
        .col-sm-12.col-md-12
          = form_for(@order) do |f|
            = f.error_messages
            .table-responsive
              %table.table.products#products
                %thead
                  %tr
                    %th Item Number
                    %th Description
                    %th Launch Month
                    %th Ship Month
                    %th.text-center Qty.
                    %th Wholesale Price
                    %th Your Price
                    %th Extended Price
                    %th
                %tbody#products_body
                  = render :partial => 'order_item', :collection => @order.order_items, locals: {f: f}
            %hr
            .pull-right
              .field
                = f.label :sub_total, 'Subtotal', :class => "ordertotals"
                = f.text_field :sub_total, :disabled => true, :size => "8", :class => "ordertotals"
            .clearfloat
            .row
              .col-md-9.col-sm-12
                .row
                  .form-group.col-sm-3
                    .field
                      = f.label :employee_number
                      %span.required *
                      %br
                      = f.text_field :employee_number, :tabindex => i=2, class: "form-control noenter"
                  .form-group.col-sm-3
                    .field
                      = f.label :customer_number
                      %span.required *
                      %br
                      = f.text_field :customer_number, :tabindex => "#{i+=1}", class: 'form-control noenter'
                      %ul#customers_dropdown.list-group
                  .form-group.col-sm-3
                    .field
                      = f.label :business, 'Business Name'
                      %br
                      = f.text_field :business, :tabindex => i+=1, class: 'form-control noenter'
                  .form-group.col-sm-3
                    .field
                      = f.label :full_name
                      %br
                      = f.text_field :full_name, :tabindex => i+=1, class: 'form-control noenter'
                      = f.hidden_field :coupon_code
                .row
                  .form-group.col-sm-3
                    .field
                      = f.label :email, 'Email Address'
                      %br
                      = f.text_field :email, :tabindex => i+=1, class: 'form-control noenter'
                  .form-group.col-sm-3
                    .field
                      = f.label :phone, 'Phone Number'
                      %br
                      = f.text_field :phone, :tabindex => i+=1, class: 'form-control noenter'
                  .form-group.col-sm-3
                    .field
                      = f.label :address
                      %br
                      = f.text_field :address, :tabindex => i+=1, class: 'form-control noenter'
                  .form-group.col-sm-3
                    .field
                      = f.label :city
                      %br
                      = f.text_field :city, :tabindex => i+=1, class: 'form-control noenter'
                .row
                  .form-group.col-sm-3
                    .field
                      = f.label :state
                      %br
                      = f.text_field :state, :tabindex => i+=1, class: 'form-control noenter'
                  .form-group.col-sm-3
                    .field
                      = f.label :zip_code
                      %br
                      = f.text_field :zip_code, :tabindex => i+=1, class: 'form-control noenter'
                  .form-group.col-sm-3
                    .field
                      = f.label :country
                      %br
                      = f.select :country, ["United States", "Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Cook Islands", "Costa Rica", "Cote D'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Holy See", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran, Islamic Republic of", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Lao", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macao", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova, Republic of", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "North Korea", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "Spain", "Sri Lanka", "Sudan", "Suriname", "Svalbard and Jan Mayen", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Viet Nam", "Virgin Islands, British", "Virgin Islands, U.S.", "Wallis and Futuna", "Western Sahara", "Yemen", "Zambia", "Zimbabwe", "US"] , :tabindex => i+=1
                  .form-group.col-sm-3
                    .field
                      = f.label :discount_amount
                      %br
                      = f.number_field :discount_amount, :tabindex => i+=1, class: 'form-control noenter'
              .form-group.col-sm-12.pull-right
                .field
                  = f.label :notes
                  %br
                  = f.text_area :notes, :tabindex => i+=1, :rows => "5", class: 'form-control'
              .col-sm-10.text-center= f.submit :tabindex => i+=1, :class => "btn btn-danger"
              .clearfloat

            :coffeescript
              $ ->
                update_totals()
                keyStop =
                    8: ':not(input:text, textarea, input:number, input:file, input:password)'
                    13: '.noenter'
                    end: null
                $(document).on 'keydown', '.noenter', (event) ->
                  selector = keyStop[event.which]
                  if selector != undefined and $(event.target).is(selector)
                    event.preventDefault()
                    #stop event
                  true

                onselect = (data) ->
                  $('#order_customer_number').val data.ax_customer_number
                  $('#order_business').val data.company_name
                  $('#order_full_name').val data.full_name
                  $('#order_email').val data.email
                  $('#order_address').val data.address
                  $('#order_phone').val data.phone
                  $('#order_city').val data.city
                  $('#order_state').val data.state
                  $('#order_zip_code').val data.zip
                  $('#order_country').val data.country
                  return

                $("#order_customer_number, #order_business").on 'keyup', ->
                  value = $(@).val()
                  if $(@).attr('id') == 'order_business'
                    extra_url = '?field=company_name'
                  else
                    extra_url = ''

                  if value.length > 3
                    $.ajax(
                      url: '/customers/search'+extra_url
                      data: {query: value}
                    ).done (data) ->
                      console.log data
                      window.customers_data=data.data
                      i = 0
                      options = ''
                      if data.suggestions.length > 0
                        while i < data.suggestions.length
                          options += '<li class="customers_dropdown list-group-item" data-customer-index=\'' + i + '\'><a href="#" class="autocomplete-link" data-customer-index=\'' + i + '\'>' + data.suggestions[i] + '</a></li>'
                          i++
                        $("#customers_dropdown").html(options)
                  else
                    $("#customers_dropdown").html('')

                $("body").on 'click', '.customers_dropdown ,.autocomplete-link', ->
                  onselect window.customers_data[$(@).data('customer-index')]
                  $("#customers_dropdown").html('')
                  false


            :javascript

              function update_totals(){
                var subtotal = 0
                var salestax = 0
                var total = 0
                var total_qty = 0
                var total_by_ship_date = {}
                var total_by_designer = {}
                $('#by_ship_date').html('');
                $('#by_designer').html('');
                $('.order_item_row').each(function(index, row){
                  row = $(row)
                  line_qty_total = row.find('input.quantity').val() * 1;
                  total_qty = total_qty + line_qty_total;

                  line_total = Math.round((row.find('.quantity').val() * row.find('.price').val()) * 100) / 100;

                  ship_date = row.data('ship-date');
                  ship_date_id = ship_date.replace(' ', '_')
                  if ($('#li_sd_'+ship_date_id).size() > 0) {
                    total_by_ship_date[ship_date_id] = Math.round((total_by_ship_date[ship_date_id] + line_total) * 100) / 100;
                    $('#total_sd_'+ship_date_id).html('$'+total_by_ship_date[ship_date_id]);
                  } else{
                    total_by_ship_date[ship_date_id]=line_total;
                    $('#by_ship_date').append('<li class="list-group-item" id="li_sd_'+ship_date_id+'">'+ship_date+' <span class="pull-right ship_date_item" id="total_sd_'+ship_date_id+'">$'+total_by_ship_date[ship_date_id]+'</span></li>');
                  };

                  designer = row.data('designer')
                  designer_id = row.data('designer-id')
                  if ($('#li_d_'+designer_id).size() > 0) {
                    total_by_designer[designer_id] = Math.round((total_by_designer[designer_id] + line_total) * 100) / 100;
                    $('#total_d_'+designer_id).html('$'+total_by_designer[designer_id]);
                  } else{
                    total_by_designer[designer_id]=line_total;
                    $('#by_designer').append('<li class="list-group-item" id="li_d_'+designer_id+'">'+designer+' <span class="pull-right designer_item" id="total_d_'+designer_id+'">$'+total_by_designer[designer_id]+'</span></li>');
                  };


                  row.find('.item_total').html('$' + line_total)
                  subtotal = Math.round((subtotal + line_total) * 100 ) / 100
                  salestax = Math.round(subtotal * 8.75) / 100
                  total = Math.round((subtotal + salestax) * 100 ) / 100
                });
                $('#order_sub_total').val(subtotal)

                $('#qtytotal').html(total_qty + ' items')
                $('#subtotal').html('$' + subtotal)

                //$('upc').focus();
              }

              function show_sales_tax(value){
                if (value) {
                  $('tax_exempt_number').show()
                  #{warehouse? ? "$('#sales_tax').hide()" : nil}
                  #{warehouse? ? "$('#total').hide()" : nil}
                  #{warehouse? ? "$('#salestax').hide()" : nil}
                  #{warehouse? ? "$('#ordertotal').hide()" : nil}
                } else {
                  $('tax_exempt_number').hide()
                  #{warehouse? ? "$('#sales_tax').show()" : nil}
                  #{warehouse? ? "$('#total').show()" : nil}
                  #{warehouse? ? "$('#salestax').show()" : nil}
                  #{warehouse? ? "$('#ordertotal').show()" : nil}
                }
              }

              function product_not_found(value){
                $('#warning').html('product not found: '+value)
                $('#warning').removeClass('hide');
                $('#order_notes').val('product not found: ' + value + '\n');
                $('#order_notes').focus();
              }
