- form_tag({:action => 'add_item', :id => @order}, :remote => true, :id => 'add_item_form') do
  .field
    = label_tag :item
    %br
    = text_field_tag :upc, nil, :tabindex => 1, :onFocus => "this.select()"
  .actions
    = submit_tag :add
:javascript
  Form.Element.focus($('upc'));
- form_for(@order) do |f|
  = f.error_messages
  %table#products{:width => "100%"}
    %tr
      %th{:align => 'left'} Item Number
      %th{:align => 'left'} Description
      %th{:align => 'center'} Launch Month
      %th{:align => 'center'} Quantity
      %th{:align => 'center'} Unit
      %th{:align => 'right'} Unit Price
      %th{:align => 'right'} Total
    = render :partial => 'order_item', :collection => @order.order_items
  .field
    = f.label :email
    %br
    = f.text_field :email, :tabindex => 2
  .field
    = f.label :business
    %br
    = f.text_field :business, :tabindex => 3
  .field
    = f.label :contact
    %br
    = f.text_field :contact, :tabindex => 4
  .field
    = f.label :phone
    %br
    = f.text_field :phone, :tabindex => 5
  .field
    = f.label :address
    %br
    = f.text_field :address, :tabindex => 6
  .field
    = f.label :notes
    %br
    = f.text_area :notes, :tabindex => 7
  .field
    = f.label :sub_total
    %br
    = f.text_field :sub_total, :disabled => true
  .actions
    = f.submit :tabindex => 9
:javascript
  function update_totals(){
    var total = 0
    $$('.order_item_row').each(function(row){
      line_total = row.down('.quantity').value * row.down('.price').value
      row.down('.item_total').innerHTML = '$' + line_total
      total = total + line_total
    });
    $('order_sub_total').value = total
  }
