#order_totals
  %table
    %tr
      %td
        Item Quantity Total:
        %br
        Subtotal
        - if warehouse?
          %br
          Sales Tax
          %br
          Order Total
      %td
        %span#qtytotal
          0 items
        %br
        %span#subtotal
          $0
        - if warehouse?
          %br
          %span#salestax
            $0.00
          %br
          %span#ordertotal
            $0.00
    - if (params[:controller] == 'orders' && params[:action] == 'edit')
      %tr
        %td.timestamps{:colspan => "2"}
          Created on: 
          = l @order.created_at, :format => :default
          %br
          Modified on:
          = l @order.updated_at, :format => :default

- form_tag({:action => 'add_item', :id => @order}, :remote => true, :id => 'add_item_form', :onsubmit => "$('warning').hide();") do
  .field
    = label_tag :item, 'Item Number or UPC Scan'
    %span.required *
    %br
    = text_field_tag :upc, nil, :tabindex => 1, :onFocus => "this.select();", :maxlength => 12, :class => 'required'
    %span#warning{ :style => "display:none"}
      PRODUCT NOT FOUND!
  .actions{:style => "margin-bottom:50px"}
    = submit_tag :add
:javascript
  new Validation('add_item_form');
  Form.Element.focus($('upc'));
= form_for(@order) do |f|
  = f.error_messages
  %table.products{:width => "100%"}
    %tr
      %th{:align => 'left', :width => '85'} Item Number
      %th{:align => 'left'} Description
      - if tradeshow?
        %th{:align => 'center', :width => '150'} Launch Month
      %th{:align => 'center', :width => '60'} Quantity
      %th{:align => 'right', :width => '60'} Unit Price
      %th{:align => 'right', :width => '100'} Extended Price
      %th{:align => 'right', :width => '20', :style => 'border-bottom: none;'}
  %table#products.products{:width => "100%", :style => "margin-bottom: 25px"}
    = render :partial => 'order_item', :collection => @order.order_items
    
  %hr
  %div{:style => "float: right"}
    .field
      = f.label :sub_total, 'Subtotal', :class => "ordertotals"
      = f.text_field :sub_total, :disabled => true, :size => "8", :class => "ordertotals"
    - if warehouse?
      .field#sales_tax{:style => "display:#{@order.tax_exempt ? 'none' : 'block'}"}
        = f.label :sales_tax, 'Sales Tax', :class => "ordertotals"
        = f.text_field :sales_tax, :disabled => true, :size => "8", :class => "ordertotals"
      .field#total{:style => "display:#{@order.tax_exempt ? 'none' : 'block'}"}
        = f.label :total, 'Order Total', :class => "ordertotals"
        = f.text_field :total, :disabled => true, :size => "8", :class => "ordertotals"
  - if warehouse?
    .field
      = f.label :payment_method
      %br
      = f.radio_button :payment_method, "Credit Card", :tabindex => i=2
      Credit Card
      = f.radio_button :payment_method, "Cash", :tabindex => i+=1
      Cash
    .field{:style => "float: left; margin-right: 50px"}
      = f.label :tax_exempt
      %br
      = f.check_box :tax_exempt, :tabindex => i+=1, :onclick => "show_sales_tax(this.checked)"
    .field#tax_exempt_number{:style => "display:#{@order.tax_exempt ? 'block' : 'none'}"}
      = f.label :tax_exempt_number, "Tax Exempt Number<span class='required'> *</span>".html_safe
      %br
      = f.text_field :tax_exempt_number, :tabindex => i+=1
  .clearfloat
  %div{:style => "float: left; margin-right: 50px"}
    .field
      = f.label :contact, 'Contact Person'
      %br
      = f.text_field :contact, :tabindex => "#{tradeshow? ? i=2 : i+=1}"
    .field
      = f.label :business, 'Business Name'
      %br
      = f.text_field :business, :tabindex => i+=1
    .field
      = f.label :email, 'Email Address'
      %br
      = f.text_field :email, :tabindex => i+=1
    .field
      = f.label :phone, 'Phone Number'
      %br
      = f.text_field :phone, :tabindex => i+=1
    .field
      = f.label :address
      %br
      = f.text_field :address, :tabindex => i+=1
  .field{:style => "float: left"}
    = f.label :notes
    %br
    = f.text_area :notes, :tabindex => i+=1, :rows => "10"
  .actions{:style => "float: right"}
    = f.submit :tabindex => i+=1, :class => "button", :onclick => "$(this).hide();$('order_loading').show();"
    #order_loading{:style => 'display:none'}= image_tag('/images/loader-ajax.gif')
  .clearfloat
:javascript
  function update_totals(){
    var subtotal = 0
    var salestax = 0
    var total = 0
    var total_qty = 0
    $$('.order_item_row').each(function(row){
      line_qty_total = row.down('.quantity').value * 1
      total_qty = total_qty + line_qty_total
      
      line_total = Math.round((row.down('.quantity').value * row.down('.price').value) * 100) / 100
      row.down('.item_total').innerHTML = '$' + line_total
      subtotal = subtotal + line_total
      salestax = Math.round(subtotal * 8.75) / 100
      total = subtotal + salestax
    });
    $('order_sub_total').value = subtotal
    #{warehouse? ? "$('order_sales_tax').value = salestax" : nil}
    #{warehouse? ? "$('order_total').value = total" : nil}
    
    $('qtytotal').innerHTML = total_qty + ' items'
    $('subtotal').innerHTML = '$' + subtotal
    #{warehouse? ? "$('salestax').innerHTML = '$' + salestax" : nil}
    #{warehouse? ? "$('ordertotal').innerHTML = '$' + total" : nil}
    
    $('upc').focus();
  }
  
  function show_sales_tax(value){
    if (value) {
      $('tax_exempt_number').show()
      #{warehouse? ? "$('sales_tax').hide()" : nil}
      #{warehouse? ? "$('total').hide()" : nil}
      #{warehouse? ? "$('salestax').hide()" : nil}
      #{warehouse? ? "$('ordertotal').hide()" : nil}
    } else {
      $('tax_exempt_number').hide()
      #{warehouse? ? "$('sales_tax').show()" : nil}
      #{warehouse? ? "$('total').show()" : nil}
      #{warehouse? ? "$('salestax').show()" : nil}
      #{warehouse? ? "$('ordertotal').show()" : nil}
    }
  }
  
  function product_not_found(value){
    if (value) {
      $('warning').innerHTML = 'this field cannot be blank'
      $('warning').show();
    } else {
      $('warning').innerHTML = 'product not found'
      $('warning').show();
      $('order_notes').value += 'product not found: ' + $('upc').value + '\n';
      $('order_notes').focus();    
    }
  }