%tr{:id => "order_item_#{order_item.product_id_with_start_date}", :class => "order_item_row order_item_#{order_item.product_id_with_start_date}", "data-product-item_num" => order_item.product.item_num, :'data-ship-date' => ((order_item.ship_month || order_item.product.start_date_or_today).strftime("%B %Y") rescue '')}
  = fields_for "order[order_items_attributes][#{order_item.order.blank? ? "#{Time.now.to_i}#{rand(1000)}" : order_item.order.order_items.index(order_item)}]", order_item, :child_index => "new_order_item" do |order_item_fields|
    %td
      = order_item_fields.hidden_field :product_id, class: :product_id
      = order_item.product.item_num
    %td
      = raw order_item.product.name
    %td.text-right= l order_item.product.start_date, :format => :month_only rescue ''
    %td.text-right
      - if @editable
        = order_item_fields.select :ship_month, ship_date_select(order_item.product.start_date_or_today), {}, class: 'ship-date', data: { order_item_id: order_item.product.id }
      - else
        = l order_item.ship_month, :format => :month_only rescue ''
    %td.text-right= @editable ? order_item_fields.number_field(:quantity, min: 0, max: 9999, :size => 2, :id => "order_order_item_attributes_#{order_item.product.id_with_start_date}_quantity", :class => 'quantity noenter', :onchange => "update_totals();$('#upc').focus();") : order_item.quantity
    %td.text-right
      = number_to_currency(order_item.product.price)
    %td.text-right
      - if @editable
        = order_item_fields.text_field(:price, :size => 6, :class => 'price noenter', maxlength: 8, :onchange => "update_totals();$('#upc').focus();")
      - else
        = number_to_currency(order_item.price)
    %td.text-right.item_total= number_to_currency order_item.item_total
    - unless params[:action] == 'show' || params[:action] == 'email'
      %td.dontprint.text-right= link_to 'x', '#', class: 'btn btn-default btn-sm', :onclick => "$(this).parents('.order_item_row').remove();update_totals();return false" 
      %td.dontprint.text-right= link_to 'dup', '#', class: 'dup btn btn-default btn-sm', data: {'item-num' => order_item.product.item_num}

:coffee
  $('.dup').on 'click', ->
    $.ajax(
      url: '/orders/add_item'
      method: 'POST'
      data:
        dup: true
        upc: $(@).data('item-num')
      context: document.body).done ->
      $(this).addClass 'done'
    return false

  $('.ship-date').on 'change', ->
    tr = $(@).parents('tr')
    tr.attr('id', 'order_item_'+$(@).data('order-item-id')+'-'+$(@).val())
    tr.data('ship-date', $(@).children("option:selected").text())
    update_totals()
    false
