%h1 Listing orders
%p
  ==No. of orders: #{Order.count}
  %br
  ==Subtotal: #{number_to_currency(Order.sum('sub_total'))}
  %br  
  ==Tax: #{number_to_currency(Order.sum('sales_tax'))}
  %br
  == Total: #{number_to_currency(Order.sum('total'))}
- form_tag({:action => 'index'}, :method => 'get') do
  Search By quote #, business name or email address
  %br
  = text_field_tag "q", params[:q]
  = submit_tag "Search"
  %br
  %br
%table
  %thead
    %tr
      %th ID
      %th Email
      %th Subtotal
      %th Sales Tax
      %th Total
      %th Payment Method
      %th Date
      %th{ :colspan => 3 }
  
  %tbody
    - for order in @orders
      %tr{ :class => cycle(:odd, :even) }
        %td= order.id
        %td= order.email
        %td= number_to_currency order.sub_total
        %td= number_to_currency order.sales_tax
        %td= number_to_currency order.total
        %td= order.payment_method
        %td= l order.created_at, :format => :date_only
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Delete', order, :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @orders
%br
= link_to 'New order', new_order_path
%br
= link_to "export to csv", :action => 'export_to_csv'
