- if params[:action] == 'show'
  .col-sm-2.pull-right.dontprint
    = link_to email_order_path(@order), method: :post do
      %button.btn.btn-primary.btn-lg#email_order
        Email
  .col-sm-2.pull-right.dontprint
    = link_to 'javascript:window.print()' do
      %button.btn.btn-primary.btn-lg
        Print
#masthead
  = image_tag('https://s3.amazonaws.com/ellison-pos/logo_ellison.png', class: 'branding', :alt => "Ellison Educational Equipment, Inc.")
  %p
    25862 Commercentre Drive, Lake Forest, CA 92630
    %br
    Telephone: (800) 253-2238
    %br
    Shop Online:
    http://www.ellisonretailers.com
  #order_info
    %p#order_data
      %h1
        Pre Order |
        \#CHA#{@order.id}
      %p
        %strong
          Date:
          = l @order.updated_at, :format => :default
          %p
          = l @order.created_at, :format => :default
  .clearfloat
  %p#customer_data
    %strong Customer Information:
    %br
    - unless @order.customer_number.blank?
      Customer Number:
      = @order.customer_number
      %br
    - unless @order.full_name.blank?
      Contact Person:
      = @order.full_name
      %br
    - unless @order.business.blank?
      Business Name:
      = @order.business
      %br
    - unless @order.address.blank?
      Address:
      = @order.address
      %br
    - unless @order.city.blank?
      = @order.city
    - unless @order.state.blank?
      = @order.state
    - unless @order.zip_code.blank?
      = @order.zip_code
    - unless @order.country.blank?
      = @order.country
    - unless @order.phone.blank?
      %br
      Phone Number:
      = @order.phone
      %br
    - unless @order.email.blank?
      Email Address:
      = @order.email

.col-sm-12
  %table.table#products{:width => "100%"}
    %tr
      %th{:align => 'left'} Item Number
      %th{:align => 'left'} Description
      %th.text-right{:align => 'right'} Launch Month
      %th.text-right{:align => 'right'} Ship Month
      %th.text-right{:align => 'right'} Qty.
      %th.text-right{:align => 'right'} Wholesale Price
      %th.text-right{:align => 'right'} Your Price
      %th.text-right{:align => 'right'} Extended Price
    = render :partial => 'orders/order_item', :collection => @order.order_items
.col-sm-12.col-md-3.pull-right
  %ul#by_ship_date.list-group{:style=>"list-style-type:none;"}
    %li.list-group-item(align="right")
      %strong Subtotal:&nbsp;
      %span.pull-right= number_to_currency @order.sub_total
    - @order.by_ship_date.each do |k,v|
      %li.list-group-item(align="right")
        = k
        \&nbsp;
        %span.pull-right.ship_date_item= number_to_currency v
  %ul#by_designer.list-group
    - @order.products.select("designer, sum(order_items.item_total)").group(:designer).each do |e|
      %li.list-group-item
        = e.designer_name
        %span.pull-right.designer_item= number_to_currency e.sum

  - if !@order.discount_amount.zero?
    %p
      An additional discount of #{number_to_currency @order.discount_amount} will be deducted from your first shipped order from this pre-order

#footer.col-sm-12.col-md-9
  %h2 TERMS AND CONDITIONS OF SALE
  %p
    This order is subject to the Ellison Reseller Terms and Conditions of Sale Agreement located at http://www.ellisonretailers.com/reseller_terms

- if params[:action] == 'show'
  %p.dontprint
    == #{ link_to 'Edit', edit_order_path(@order) } | #{ link_to 'Back', orders_path }

:coffee
  $ ->
    $('#email_order').on 'click', ->
      window.location.href="mailto:?to=#{@order.email}&subject="+document.title+"&body="+escape(window.location.href)

