#masthead
  %img#branding{:src => "/images/logo_ellison.png", :alt => "Ellison Educational Equipment, Inc."}
  %p
    Ellison Educational Equipment, Inc.
    %br
    25862 Commercecentre Drive
    %br
    Lake Forest, CA 92630
  %p
    Telephone: (800) 253-2238
    %br
    Fax: (800) 253-2240
    %br
    Shop Online: http://www.ellisonretailers.com
#order_info
  %h1 Quote
  %p#order_data
    %strong Quote Number:
    %strong== WHUS#{@order.id}
    %br
    Date:
    = l @order.created_at, :format => :date_only
  %p#customer_data
    %strong Customer Information:
    %br
    Business Name:
    = @order.business
    %br
    Contact Person:
    = @order.contact
    %br
    Phone Number:
    = @order.phone
    %br
    Email Address:
    = @order.email
    %br
    Address:
    = @order.address

  %table#products{:width => "100%"}
    %tr
      %th{:align => 'left'} Item Number
      %th{:align => 'left'} Description
      %th{:align => 'center'} Launch Month
      %th{:align => 'center'} Quantity
      %th{:align => 'center'} Unit
      %th{:align => 'right'} Unit Price
      %th{:align => 'right'} Extended Price
    = render :partial => 'order_item', :collection => @order.order_items    
  .right
    %p
      %strong Sub total:
      = number_to_currency @order.sub_total
    -# commenting out Sales Tax & Total for now; saving for future use.
      %p
        %strong Sales tax:
        = number_to_currency @order.sales_tax
      %p
        %strong Total:
        = number_to_currency @order.total
#footer
  %h1 TERMS AND CONDITIONS OF SALE
  %p The Ellison Reseller Terms and Conditions of Sale Agreement located at www.ellisonretailers.com/signup constitutes part of this order.
  
%p.dontprint
  == #{ link_to 'Edit', edit_order_path(@order) } | #{ link_to 'Back', orders_path }
