- content_for :title, "Order WHUS#{@order.id}"
%ul.rounded
  %li
    %table#products{:width => "100%"}
      = render :partial => 'order_item.mobile.haml', :collection => @order.order_items  
  %li
    Subtotal:
    %small= number_to_currency @order.sub_total
  %li
    Sales tax:
    %small= number_to_currency @order.sales_tax
  %li
    Total:
    %small= number_to_currency @order.total