- if @product
  $('#upc').val('');
  $('#order_coupon_code').val('#{session[:coupon]}')
  $('#order_sub_total').val(parseFloat($('#order_sub_total').val()) + #{@product.price(session[:coupon])})
  if ($('#order_item_#{@order_item.product_id_with_start_date}').length < 1) {
  $('#products').prepend('#{j render :partial => 'order_item', :object => @order_item}')
  } else {
  var qty = $('#order_order_item_attributes_#{@order_item.product_id_with_start_date}_quantity').val() * 1
  $('#order_order_item_attributes_#{@order_item.product_id_with_start_date}_quantity').val(qty + 1)
  }
  update_totals()
- else
  var sound = new Howl({
  src: ['/error.mp3']
  });
  sound.play();
  product_not_found();
- unless params[:dup].present?
  $('#upc').focus()
