- form_for(@product) do |f|
  = f.error_messages
  
  .field
    = f.label :item_num
    %span
      %strong *
    %br
    = f.text_field :item_num, :maxlength => 12, :size => 15
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :upc
    %br
    = f.text_field :upc
  .field
    = f.label :price
    %span
      %strong *
    %br
    = f.text_field :price
  .field
    = f.label :min_qty
    %br
    = f.text_field :min_qty
  .field
    = f.label :start_date
    %br
    = f.date_select :start_date, :order => [:month, :day, :year]

  .actions
    = f.submit
