.page-header
  %h1 Listing products
  = link_to 'all', products_path unless params[:q].blank?
  = form_tag(products_path, :method => :get) do
    = text_field_tag :q, nil, class: 'form-control'
    = submit_tag "search", :class => 'btn btn-primary'
%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Item num
      %th Name
      %th Upc
      %th Price
      %th Start Date (dd/mm/yy)
      %th Min QTY
      %th
  %tbody
    - for product in @products
      %tr{ :class => cycle(:odd, :even) }
        %td= product.item_num
        %td= product.name
        %td= product.upc
        %td= product.price
        %td= l product.start_date rescue 'N/A'
        %td{:align => 'center'}= product.min_qty
        %td
          = link_to 'Show', product, :class => 'btn btn-default btn-xs'
          = link_to 'Edit', edit_product_path(product), :class => 'btn btn-default btn-xs'
          = link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-xs'
%br
= paginate @products
%br
= link_to 'New product', new_product_path, :class => 'btn btn-default'
%br
= link_to 'Upload product csv file', :action => :import
