!!!
%html
  %head
    %title== #{ @title? @title : app_mode}
    = stylesheet_link_tag 'scaffold', :media => "all"
    = stylesheet_link_tag 'site', :media => "all"
    = stylesheet_link_tag 'print', :media => "print"
    = stylesheet_link_tag 'mobile' if mobile_device?
    = javascript_include_tag 'prototype', 'scriptaculous', 'rails', 'controls', 'dragdrop', 'effects', 'sound', 'validation'
    = javascript_include_tag 'autocomplete/autocomplete'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  
  %body{:onload => "#{(params[:controller] == 'orders' && params[:action] == 'show') ? 'window.print()' : nil}"}
    #container
      -#
        %p.dontprint 
          - if mobile_device?
            = link_to "Full Site", :mobile => 0 
          - else  
            = link_to "Mobile Site", :mobile => 1
      %p.dontprint.notice= raw notice
      - if flash[:error]
        #errorExplanation
          %p= raw flash[:error]
      %h2.dontprint== App mode: #{app_mode}
      = link_to "Products", products_path, :class => "button dontprint #{'selected' if (params[:controller] == 'products')}"
      = link_to order_name.pluralize, orders_path, :class => "button dontprint #{'selected' if (params[:controller] == 'orders' && params[:action] == 'index')}"
      = link_to "New Sale", new_order_path, :class => "button dontprint #{'selected' if (params[:controller] == 'orders' && params[:action] == 'new')}"
      - if tradeshow?
        = link_to "Customers", customers_path, :class => "button dontprint #{'selected' if (params[:controller] == 'customers')}"
      = link_to "Reports", reports_path, :class => "button dontprint #{'selected' if (params[:controller] == 'reports')}"
      = link_to "Print", "javascript:window.print()", :class => 'button dontprint selected' if (params[:controller] == 'orders' && params[:action] == 'show')
      .clear
      = yield
